@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Rampart+One&display=swap");

* {
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.Title-Container {
  position: absolute;
  width: 1000px;
  height: 50%;
  bottom: -140px;
  right: -500px;
  background-image: linear-gradient(90deg, yellow, rgb(204, 79, 7));
  z-index: 3;
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
}
.Title-Words {
  font-size: 3em;
  color: orangered;
  text-shadow: 1px 1px 1px rgb(253, 195, 60), -1px -1px 1px rgb(168, 47, 3);
}
#back {
  text-decoration: none;
  position: absolute;
  z-index: 13;
  top: 10px;
  left: 30px;
  color: #ffffff60;
  font-size: 3em;
  transform: rotate(180deg) scaleX(75%);
  transition: 0.25s;
}
#back:hover {
  transition: 0.25s;
  transform: rotate(180deg) scale(112%, 150%);
  color: white;
}
.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.pacmen-area {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(45deg, #ffffff70, #ffffff30);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid white;
}
.button-area {
  background-image: linear-gradient(45deg, #ffffff70, #ffffff30);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100px;
  color: white;
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid white;
}
.button-area p {
  cursor: pointer;
  min-width: 130px;
  border: 1px solid white;
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
  box-shadow: inset 0px 0px 5px #00000080, 0px 3px 5px #00000050;
}
.boundaries-area {
  position: relative;
  width: 100%;
  height: 100%;
}

#add-pacmen {
  background-color: #d4b102;
}
#start-game {
  background-color: #70a870;
}
#subtract-pacmen {
  background-color: #d05858;
}

#add-pacmen:hover {
  background-color: white;
  color: #d4b102;
}
#start-game:hover {
  background-color: white;
  color: #70a870;
}
#subtract-pacmen:hover {
  background-color: white;
  color: #d05858;
}
